/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.button:hover
{
	opacity:0.4;
	background-color:gray !important;
}

.button.selected {

	background-color: red;
    opacity: 1; 

} 

.button.black {

	background-color: black;
	width: 180px;
    opacity: 1; 

} 

input {
	display:inline-block;
	max-width: 350px;
	
}
